
<div class="inner cover">
  <div>
    <h3 class="cover-heading goal-prev">
      <%= image_tag @user.image %>
      <%= @user.name %>님, 2015년에는!
    </h3>
    <h1 class="cover-heading"><%= @goal.content %></h1>
  </div>
  <hr/>

  <p class="lead">
    <%= render 'comments/form' %>
  </p>
  <div>
    <ul class="list-group list-advice">
      <% @goal.comments.order_by_recent.reject {|c| c.new_record? }.each do |comment| %>
      <li <%= if comment.writer != nil then "style='background-color: #c0c0c0'".html_safe end %> class="list-group-item"><%= comment.content %></li>
      <% end %>
    </ul>
  </div>
  <p>
    <% if current_user == @goal.writer %>
    <iframe src="//www.facebook.com/plugins/share_button.php?href=<%= @url.html_safe %>&layout=button&appId=818776511527788" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
    <% end %>
  </p>
</div>