
<h1><%= @goal.content %></h1>

<h2>Comments</h2>
<%= render @goal.comments %>

<h2>Give more Tips!</h2>
<%= render 'comments/form' %>

<%= @url %>

<iframe src="//www.facebook.com/plugins/share_button.php?href=<%= @url %>&amp;layout=button&amp;appId=818776511527788" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
