<!DOCTYPE html>
<html>
<head>
  <title>Give me tips</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="Give me tips">
  <meta name="description" content="나에게 조언을 줘!">
  <meta name="keywords" content="새해, 2015, 조언, 팁, 목표, 계획">
  <meta property="og:site_name" content="Give me tips!">
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:title" content="<%= og_title %>">
  <meta property="og:type" content="article">
  <meta property="og:image" content="<%= asset_url('logo.png') %>">
  <meta property="og:description" content="<%= og_description %>">
  <meta property="fb:app_id" content="<%= fb_app_id %>">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style id="style-1-cropbar-clipper">
    .en-markup-crop-options {
        top: 18px !important;
        left: 50% !important;
        margin-left: -100px !important;
        width: 200px !important;
        border: 2px rgba(255,255,255,.38) solid !important;
        border-radius: 4px !important;
    }

    .en-markup-crop-options div div:first-of-type {
        margin-left: 0px !important;
    }
  </style>
</head>
<body>
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h2 class="masthead-brand">
            <%= link_to "Give me tips!", root_path %>
          </h2>
          <nav>
            <ul class="nav masthead-nav">
              <li class="active"><%= link_to current_user.name, "#" if current_user %></li>
              <li><a href="">조언보기</a></li>

              <% if user_signed_in? %>
                <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
              <% else %>
                <li><%= link_to "로그인", omniauth_authorize_path('user', 'facebook') %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
      <%= yield %>
      <div class="mastfoot">
        <div class="inner">
          <p>Copyright By <a href="https://github.com/HwaYo">Hwayo</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
